<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/meta :: meta"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="ec" th:action="@{/updateSchedule/save}" method="post" class="form-horizontal">
                        <input type="hidden" name="scheduleId" id="scheduleId" th:value="${scheduleId}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">序号：</label>
                            <div class="col-sm-10">
                                <input type="text" disabled="disabled" name="index" id="index" th:value="${index}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">预约数：</label>

                            <div class="col-sm-10">
                                <input type="text" name="reservedNumber" id="reservedNumber" th:value="${reservedNumber}" class="form-control"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">价格：</label>

                            <div class="col-sm-10">
                                <input type="text" name="amount" id="amount" th:value="${amount}" class="form-control"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">时间段：</label>

                            <div class="col-sm-10">
                                <input type="text" name="skill" id="skill" th:value="${skill}" class="form-control"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">

var app = new Vue({
    data() {
        return {
            scheduleId: [[${scheduleId}]],
            reservedNumber: [[${reservedNumber}]],
            amount: [[${amount}]],
            skill: [[${skill}]]
        }
    },

})

    $(function(){
        $('#ec').validate({
            rules:{
                name:"required",
                reservedNumber:"required",
                amount:"required",
                skill:"required"
            },
            messages:{
                name:"必须输入"
            },
            submitHandler: function(form) {
                opt.load();
                $(form).find(":submit").attr("disabled", true).text("正在提交...");
                form.submit();
            }
        });
    });
</script>
